<% if notice %>
	<p id="notice" ><%= notice %></p>
<% end %>



	<h1>Hallo <%= User.find_by_id(session[:user_id]).name %>!</h1>

	<%= link_to "Veranstaltungsübersicht", users_path, :class => "btn"%>

