<div class="well">
	
	<h4 align="right">Profil von <%= @user.name%></h4>
	<br />
	
<table class="table">
	<tr>
		<th>Username</th>
		<td><%= @user.name %></td>
	</tr>
	
	<tr>
		<th>Email</th>
		<td><%= @user.email %></td>
	</tr>
</table>

</div>

