<table class="table table-striped">
	  <tr>
	    <th>Email</th>
	    <% @questions.each do |q| %>
	    	<th><%= q.question %></th>
	    <% end %>
	  </tr>
	
	<% @registrations.each do |r| %>
	  <tr>
	  		<td> <%= r.email %></td> 
	  		
	  		<% @answers = r.answers.all %>
	  		<% @answers = @answers.sort_by{ |q| q.position.to_i }%>
	  		
	  		<% @answers.each do |a| %>
	  			<td><%= a.input %></td>
	  		<% end %>
	  </tr>
	<% end %> 
</table>
