<h1>Änderung der Anmeldung: <br /> 
	<%= @event.title %></h1>

<div><!-- Veranstaltungsdetails -->
	<p>Veranstaltungsdetails: <br /> 
		<%= @event.description%></p>
</div>

	<p id="notice"><%= notice %></p>

<%= render "form" %>
