<div class="well">
	<h4 align="right">Alle Anmeldungen zur Veranstaltung <%= @event.title %></h4>
	<br />
	
	<div id="registrations_table">
		<%= render "registrations_table" %>
	</div>
	
	<div align="right">
	<%= link_to "Als CSV exportieren (ohne Warteliste)", user_event_registrations_path(format: "csv") %>
	</div>
</div>